<!-- Footer -->
<footer id="footer">
  {{#if page.markdown}}<div class="article-footer-bg-overlay">{{/if}}
  <section class="about container">
    {{#with contents.copy}}
      {{{typogr [footer-text.md].html}}}
    {{/with}}
  </section>
  <section class="copyright">
    <ul class="menu">
      <li>&copy; {{getYear}} Michael Nason &mdash; All rights reserved</li>
      <li>Generated with <a href="https://github.com/jnordberg/wintersmith">Wintersmith</a></li>
      <li>Design forked from Overflow by <a href="http://html5up.net/">HTML5 UP</a></li>
    </ul>
  </section>
  {{#if page.markdown}}</div>{{/if}}
</footer>