<!-- Footer -->
<footer id="footer">
  {{#if page.markdown}}<div class="article-footer-bg-overlay">{{/if}}
  <section class="about container">
    {{#with contents.copy}}
      {{{typogr [footer-text.md].html}}}
    {{/with}}
  </section>
  <section class="copyright">
    <ul class="menu">
      <li>
        <span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Particles & Waves</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://nason.us" property="cc:attributionName" rel="cc:attributionURL">Michael Nason</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>
      </li>

      <li>Generated with <a href="http://wintersmith.io/">Wintersmith</a></li>

      <li>Design forked from Overflow by <a href="http://html5up.net/">HTML5 UP</a></li>
    </ul>

    <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
      <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" />
    </a>
  </section>
  {{#if page.markdown}}</div>{{/if}}
</footer>