<!-- Footer -->
<footer id="footer">
  <section class="about container">
    {{#with contents}}
      {{{typogr [footer-text.md].html}}}
    {{/with}}
  </section>
  <section class="copyright">
      <ul class="menu">
          <li>&copy; {{getYear}} Michael Nason &mdash; All rights reserved</li>
          <li>Powered by <a href="https://github.com/jnordberg/wintersmith">Wintersmith</a></li>
          <li>Design adapted from Overflow by <a href="http://html5up.net/">HTML5 UP</a></li>
      </ul>
  </section>
</footer>