.button
  position: relative;
  display: inline-block;
  border: 0;
  background: #35b88f;
  color: #fff;
  text-shadow: 0 0 0.5px rgba(255,255,255,0.25);
  cursor: pointer;
  text-decoration: none;
  outline: 0;
  padding: 1em 3em 1em 3em;
  text-align: center;
  border-radius: 3em;
  font-weight: 400;
  white-space: nowrap;
  transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;
  &:hover
    background: #45c89f;

.button.style2
  color: #3a3939;
  background: #fff;
  box-shadow: inset 0 0 0 1px #fff;
  &:hover
    background: rgba(255,255,255,0.1);
    color: #fff !important;
    text-shadow: 0 0 0.5px rgba(255,255,255,0.25) !important;

.button.style3
  background: none;
  color: #3a3939;
  box-shadow: inset 0 0 0 1px #dad9d9;
  &:hover
    background: rgba(58,57,57,0.025);