@font-face {
  font-family: 'nasonicons';
  src: url('../fonts/nasonicons.eot');
  src: url('../fonts/nasonicons.woff') format('woff'),
       url('../fonts/nasonicons.ttf') format('truetype'),
       url('../fonts/nasonicons.svg#michaelnason') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'nasonicons';
  font-size: 1.25em;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-decoration: none;
  line-height: 1;
}

.icon-angle:before {
  content: "\f000";
}
.icon-menu:before {
  content: "\e003";
}
.icon-chat:before {
  content: "\e007";
}
.icon-link:before {
  content: "\e008";
}
.icon-github:before {
  content: "\e001";
}
.icon-home:before {
  content: "\e600";
}
.icon-twitter:before {
  content: "\e604";
}
.icon-linkedin:before {
  content: "\e606";
}
.icon-chrome:before {
  content: "\e607";
}
.icon-html5:before {
  content: "\e608";
}
.icon-css3:before {
  content: "\e609";
}
.icon-spinner:before {
  content: "\e601";
}
.icon-instagram:before {
  content: "\e602";
}
.icon-console:before {
  content: "\e603";
}
.icon-code:before {
  content: "\e605";
}
.icon-embed:before {
  content: "\e60a";
}
.icon-facebook:before {
  content: "\e60b";
}
.icon-google-plus:before {
  content: "\e60c";
}
.icon-mail:before {
  content: "\e60d";
}
.icon-git:before {
  content: "\e60e";
}