body
  background: url('../images/tree_bg.jpg');
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;

body,input,textarea,select
  font-size: 20px;

.mobile-background
  display: none;