@import 'nib'
@import 'variables'
@import 'mixins'

.mobile-background
  tree-background();
  width: 100%;
  height: 125%;
  position: fixed;
  z-index: -1;

#banner
  padding: 4em 0;
  background-size: 175% auto;


#footer .copyright
  font-size: 0.5em;