@import 'nib'
@import 'variables'
@import 'mixins'

.mobile-background
  tree-background();
  width: 100%;
  height: 125%;
  position: fixed;
  z-index: -1;

body,input,textarea,select
  font-size: 14pt;

h1,h2,h3,h4,h5,h6
  line-height: 1.5em;

header
  p
    margin: 0.25em 0 0 0;
    padding: 0 0 0.5em 0;

/* Box */

.box
  position: relative;
  section
    margin: 0 0 2em 0;

.box.style1
  padding: 2.5em 2em 2.5em 2em;

.box.style1.right
  .inner
    padding-left: 2em;

.box.style1.left
  .inner
    padding-right: 2em;

.box.style2
  header
    padding: 2em;
  .inner
    position: relative;

.box.style3
  padding: 2.5em 2em 2.5em 2em;

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

#banner
  padding: 3.5em;
  background-size: 200% auto;
  br
    display: none;
