tree-background()
  background: url('/images/goldsworthy_line_bg.jpg') no-repeat;
  background-size: cover;
  background-position: center bottom;

pseudo-arrow-before()
  &:before
    content: '';
    display: block;
    width: 90px;
    height: 66px;
    position: absolute;
    left: 50%;
    top: -4.5em;
    margin-left: -(@width/2);
    margin-top: -(@height/2);
    background: url('../images/arrow.svg') no-repeat;

pseudo-line-after(size)
  &:after
    top: -(size) em;
    height: size em;
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    border-left: solid 1px $white;
    z-index: 10;

form-placeholder(color, border)
  form
    ::-webkit-input-placeholder
      color: color !important;
    :-moz-placeholder
      color: color !important;
    ::-moz-placeholder
      color: color !important;
    :-ms-input-placeholder
      color: color !important;
    ::-moz-focus-inner
      border: border;
