$clear = rgba(0,0,0,0)
$grey = #dad9d9
$white = #f7f7f7
$black = #0d0d0d
$light-grey = #eae9e9
$dark-grey = #5a5959
$off-white = #f2f2f2
$white-smoke = #f5f5f5
$teal = #03b8c1
$green = #0bb125
$green-alt = #5eb10b
$purple = #340a5f
$burnt-orange = #c98d22
$red = #ee0925

$code-bg = #1d1f21
$code-text = #c5c8c6

$text-color = #3a3939
$button-color = #35b882
$button-darker-color = #35b88f
$button-hover-color = #45c89f

$button-color-25 = rgba($button-color,25%)
$button-darker-color-25 = rgba($button-darker-color, 25%)
$button-darker-color-50 = rgba($button-darker-color, 50%)
$button-darker-color-60 = rgba($button-darker-color, 60%)
$button-hover-color-25 = rgba($button-hover-color,25%)

$text-color-1-40 = rgba($text-color, 2.5%)
$text-color-25 = rgba($text-color, 25%)

$white-10 = rgba($white, 10%)
$white-3-16 = rgba($white, 18.75%)
$white-25 = rgba($white, 25%)
$white-50 = rgba($white, 50%)
$white-75 = rgba($white, 75%)
$white-90 = rgba($white, 90%)

$black-40 = rgba($black, 40%)
$black-50 = rgba($black, 50%)
$black-75 = rgba($black, 75%)
$black-80 = rgba($black, 80%)
$black-85 = rgba($black, 85%)
$black-90 = rgba($black, 90%)

$green-70 = rgba($green, 0.7)
$green-90 = rgba($green, 0.9)
$green-alt-hover-20 = rgba($green-alt, 20%)
$green-alt-hover-90 = rgba($green-alt, 90%)

$purple-20 = rgba($purple, 0.2)
$purple-80 = rgba($purple, 0.8)

$burnt-orange-93 = rgba($burnt-orange, 93%)

$red-40 = rgba($red, 40%)