{{> html}}
	<main id="page">
		{{> header}}
		<article class="container box style3">
			<section>
			  {{#with contents}}
      		{{{typogr [about.md].html}}}
    		{{/with}}
			</section>
		</article>
		{{> footer}}
	</main>
{{> close}}