#post, #page
  p
    img
      max-width: 100%
      height: auto;
      margin: 0 auto;
      display: block;
  pre > code
    margin-bottom 1em
    border-radius 4px
  :not(pre) > code
    background-color: $code-bg;
    color: $code-text;
    font-style: italic;
    padding: 0.2em 0.3em;
    border-radius: 4px;
  #page-header
    background: $black;
    background: $black-40;
  .box.style3
    margin-top: 9.5em;
    ul,
    ol
        padding-left: 2em;
        li
          padding-left: 0.65em;
          margin-top: 0.5em;
          &:first-child
            margin-top: 0;
    ul
      list-style: disc;
    ol
      list-style: decimal;
  .image-credit
    font-size: 0.3em;

#page
  background: $burnt-orange;
  background: linear-gradient(top, $burnt-orange-93, $black-80);

#footer
  .article-footer-bg-overlay
      background: $black;
      background: $black-80;
      padding-top: 1em;
