#post, #page
  #page-header
    background: $black;
    background: $black-40;
  .box.style3
    margin-top: 9.5em
    ul
      @extends ul.default
    ol
      @extends ol.default

#post
  p
    img
      max-width: 100%
      height: auto;
      margin: 0 auto;
      display: block;

#page
  background: $burnt-orange
  background: linear-gradient(top, $burnt-orange-93, $black-80);

#footer
  .article-footer-bg-overlay
      background: $black;
      background: $black-80;
      padding-top: 1em;
