#post, #page
  #page-header
    background-color: rgba(0,0,0,0.4);
  .box.style3
    margin-top: 9.5em
    ul
      @extends ul.default
    ol
      @extends ol.default

#post
  p
    img
      max-width: 100%
      height: auto;
      margin: 0 auto;
      display: block;

#page
  background: linear-gradient(top, rgba(201, 141, 34, 0.93), rgba(0,0,0,0.8));

#footer
  .article-footer-bg-overlay
      background: black;
      background: rgba(0,0,0,0.8);
      padding-top: 1em;
