// Featured homepage articles
.blog
  a
    color: $black-75;
    text-shadow: 0 0 0.5px $white-3-16;
    &:hover
      color: green;

// 'Visit My Blog' box on homepage
#blog-box
  cursor: pointer;
  header
    transition: all 0.35s ease-in-out;
    border-radius: 3em;
    h2
      font-weight: 600;

.visit-blog
  header
    background: $purple-20 !important;
    a
      border-bottom: none;
    h2
      color: $white;

// Blog page
#blog
  background: linear-gradient(bottom, $purple-80, $black-85);
  // margin-bottom -20em;
  .blog-thumb
    border-bottom: $clear;
    img
      max-height: 20em;
  .box.style2
    margin-top: 1em;
  .box.style2:before
    display: none
  .box.style2:after
    height:1em;
    top -1em;
  .date
    font-size: 0.7em;
  .more
    text-align: center;
  nav
    white-space: nowrap;
    .newer
      float: right;
  img
    max-width: 100%