#banner
  position: relative;
  color: $white;
  text-shadow: 0 0 0.5px $white-25;
  text-align: center;
  font-size: 1.1em;
  background: $green-banner-background url('../images/banner.svg') bottom center no-repeat;
  padding: 5em 0;
  margin: 0;
  background-size: 125% auto;
  transition: background-color 0.35s ease-in-out;

  .button
    color: $button-color;
    text-shadow: 0 0 0.5px $button-hover-color-25;

  .row
    img
      vertical-align: middle;
      max-height: 7em;

  header
    margin: 0 0 2em 0;
    img.profile
      max-height: 10em;
      border-radius: 50%;
      margin: -1em 3em 0.1em;
    h2
      font-weight: 400;
      font-size: 1.75em;
      letter-spacing: 8px;
      overflow: nowrap;
  footer
    margin: 2em 0 0 0;

  p
    margin: 0;
  a
    color: inherit;
    border-bottom-color: $white-50;
    &:hover
      border-bottom-color: $clear;

.about-me-hover
  background-color: $red-40 !important;
