@charset 'UTF-8';

html, body
  // min-height: 100%;

body,input,textarea,select
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18pt;
  line-height: 1.75em;
  font-weight: 300;
  letter-spacing: 1px;
  color: $text-color;
  text-shadow: 0 0 0.5px $text-color-25;
  -webkit-text-stroke: 0.25px;

  /* Enable Ligatures ================ */
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";

  /* Better Font Rendering =========== */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

h1,h2,h3,h4,h5,h6
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.75em;
  a
    color: inherit;
    text-decoration: none;

h2
  font-size: 1.25em;
  letter-spacing: 8px;

h3
  font-size: 1em;
  letter-spacing: 5px;

strong, b
  font-weight: 700;

em, i
  font-style: italic;

a
  color: $button-darker-color;
  text-shadow: 0 0 0.5px $button-darker-color-25;
  transition: border-color 0.35s ease-in-out, color 0.35s ease-in-out;
  text-decoration: none;
  border-bottom: dotted 1px $button-darker-color-50;
  &:hover
    border-bottom-color: $clear;

sub
  position: relative;
  top: 0.5em;
  font-size: 0.8em;

sup
  position: relative;
  top: -0.5em;
  font-size: 0.8em;

hr
  border: 0;
  border-top: solid 1px $grey;
  margin: 2em 0 2em 0;

blockquote
  border-left: solid 0.5em $light-grey;
  padding: 1em 0 1em 2em;
  font-style: italic;

p, ul, ol, dl, table
  margin-bottom: 1em;

header
  margin-bottom: 1em;

header p
  display: block;
  margin: 0.5em 0 0 0;
  padding: 0 0 1.5em 0;

footer
  margin-top: 1em;

br.clear
  clear: both;

/* Transparent Overlay */

.transparent-overlay
  background-color: $button-darker-color-60;
  background: linear-gradient(top, $button-darker-color-60, $black-90);

/* Sections/Articles */

section,
article
  margin-bottom: 3em;
  & > :last-child
    margin-bottom: 0;
  &:last-child
    margin-bottom: 0;

.row > section,
.row > article
  margin-bottom: 0;
