/*
  TODO: Clean me up, DRY me out
*/

@charset 'UTF-8';

html, body
  // min-height: 100%;

body,input,textarea,select
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18pt;
  line-height: 1.75em;
  font-weight: 300;
  letter-spacing: 1px;
  color: #3a3939;
  text-shadow: 0 0 0.5px rgba(58,57,57,0.25);
  -webkit-text-stroke: 0.25px;

  /* Enable Ligatures ================ */
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";

  /* Better Font Rendering =========== */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

h1,h2,h3,h4,h5,h6
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.75em;

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
  color: inherit;
  text-decoration: none;

h2
  font-size: 1.25em;
  letter-spacing: 8px;

h3
  font-size: 1em;
  letter-spacing: 5px;

strong, b
  font-weight: 700;

em, i
  font-style: italic;

a
  color: #35b88f;
  text-shadow: 0 0 0.5px rgba(53,184,143,0.25);
  transition: border-color 0.35s ease-in-out, color 0.35s ease-in-out;
  text-decoration: none;
  border-bottom: dotted 1px rgba(53,184,143,0.5);
  &:hover
    border-bottom-color: rgba(53,184,143,0);

sub
  position: relative;
  top: 0.5em;
  font-size: 0.8em;

sup
  position: relative;
  top: -0.5em;
  font-size: 0.8em;

hr
  border: 0;
  border-top: solid 1px #dad9d9;
  margin: 2em 0 2em 0;

blockquote
  border-left: solid 0.5em #eae9e9;
  padding: 1em 0 1em 2em;
  font-style: italic;

p, ul, ol, dl, table
  margin-bottom: 1em;

header
  margin-bottom: 1em;

header p
  display: block;
  margin: 0.5em 0 0 0;
  padding: 0 0 1.5em 0;

footer
  margin-top: 1em;

br.clear
  clear: both;

/* Transparent Overlay */

.transparent-overlay
  background-color: rgba(53, 184, 143, 0.6);
  background: linear-gradient(top, rgba(53, 184, 143, 0.6), rgba(0,0,0,0.9));

/* Sections/Articles */

section,
article
  margin-bottom: 3em;

section > :last-child,
article > :last-child
  margin-bottom: 0;


section:last-child,
article:last-child
  margin-bottom: 0;

.row > section,
.row > article
  margin-bottom: 0;

/* Images */

.image
  display: inline-block;
  border: 0;

.image img
  display: block;
  width: 100%;

.image.featured
  display: block;
  width: 100%;
  margin: 0 0 2em 0;

.image.full
  display: block;
  width: 100%;

.image.left
  float: left;
  margin: 0 2em 2em 0;

.image.centered
  display: block;
  margin: 0 0 2em 0;

.image.centered img
  margin: 0 auto;
  width: auto;

/* Lists */

ul.default
  list-style: disc;
  padding-left: 1em;

ul.default li
  padding-left: 1.5em;
  margin-top: 1.5em;

ul.default li:first-child
  margin-top: 0;

ul.icons
  cursor: default;

ul.icons li
  font-size: 2rem;
  display: inline-block;

ul.icons a
  display: inline-block;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  text-align: center;
  border: 0;

ul.menu
  cursor: default;


ul.menu li

  display: inline-block;
  line-height: 1em;
  border-left: solid 1px #dad9d9;
  padding: 0 0 0 0.5em;
  margin: 0 0 0 0.5em;

ul.menu li:first-child
  border-left: 0;
  padding-left: 0;
  margin-left: 0;

ul.actions
  cursor: default;

ul.actions li
  display: inline-block;
  margin: 0 0 0 0.5em;

ul.actions li:first-child
  margin-left: 0;

ol.default
  list-style: decimal;
  padding-left: 1.25em;

ol.default li
  padding-left: 1.25em;
  margin-top: 1.5em;

ul.default li:first-child
  margin-top: 0;
