.button
  position: relative;
  display: inline-block;
  border: 0;
  background: $button-darker-color;
  color: $white;
  text-shadow: 0 0 0.5px $white-25;
  cursor: pointer;
  text-decoration: none;
  outline: 0;
  padding: 1em 3em;
  text-align: center;
  border-radius: 3em;
  font-weight: 400;
  white-space: nowrap;
  transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;
  &:hover
    background: $button-hover-color;

.button.style2
  color: $text-color;
  background: $white;
  box-shadow: inset 0 0 0 1px $white;
  &:hover
    background: $white-10;
    color: white !important;
    text-shadow: 0 0 0.5px $white-25 !important;

.button.style3
  background: none;
  color: $text-color;
  box-shadow: inset 0 0 0 1px $grey;
  &:hover
    background: $text-color-1-40;