#footer
  position: relative;
  color: #fff;
  text-shadow: 0 0 0.5px rgba(255,255,255,0.25);
  text-align: center;
  margin: 4.5em 0 0 0;
  &:before
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    border-left: solid 1px #fff;

  a
    color: #35b88f;
    text-shadow: 0 0 0.5px rgba(255,255,255,0.25);
    border-bottom-color: rgba(255,255,255,0.5);
    &:hover
      color: white;
      text-shadow: 0 0 0.5px rgba(69,200,159,0.25);
      border-bottom-color: rgba(53,184,143,0.5);

  .copyright
    margin: 0;
    font-size: 0.6em;
    white-space: nowrap;

  .about
    text-align: center;
    margin: 0 auto 1em;
    column-count: 2;