#footer
  position: relative;
  color: $white;
  text-shadow: 0 0 0.5px $white-25;
  text-align: center;
  margin: 4.5em 0 0 0;
  &:before
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    border-left: solid 1px $white;

  a
    color: $button-color;
    text-shadow: 0 0 0.5px $white-25;
    border-bottom-color: $white-50;
    &:hover
      color: $white;
      text-shadow: 0 0 0.5px $button-hover-color-25;
      border-bottom-color: $button-darker-color-50;

  .copyright
    margin: 0;
    font-size: 0.6em;
    white-space: normal;

  .about
    text-align: center;
    margin: 0 auto 1em;
    column-count: 2;