#contact-error
  background: $red
  background: $red-40

form
  label
    display: block;
    margin: 0 0 0.5em 0;
  textarea
    min-height: 12em;

form input.text,
form select,
form textarea
  -webkit-appearance: none;
  color: $black;
  display: block;
  border: 0;
  background: $light-grey;
  width: 100%;
  padding: 0.75em;
  line-height: 1em;
  transition: background-color 0.35s ease-in-out;
  &:focus
    background: $white-smoke;

// form input.button

form-placeholder($green-alt, 0)

form ul.actions
  margin-bottom: 0;
  text-align: center;
