#header
  position: relative;
  color: $white;
  background-color: $black-50;
  text-shadow: 0 0 0.5px $white-25;
  text-align: center;
  margin: 0;
  padding: 14em 0;
  cursor: default;

  nav
    position: absolute;
    top: 0;
    width: 100%;
    font-size: 0.8em;
    text-shadow: 0 0 0.5px $white-3-16;
    ul
      display: inline-block
      border-bottom: solid 1px $white-50;
      padding: 0.5em 0 0.3em;
      li
        display: inline
        margin: 0 2em;
        a
          color: $white-75;
          border-bottom: none;
          &:hover
            color: $green-90;

  header
    display: inline-block;
    padding: 0 0 4.5em 0;
    &:before
      content: '';
      display: block;
      margin: 4px 0 0.8em 0;
    h1
      border-top: solid 1px $white-50;
      font-weight: 600;
      font-size: 2em;
      letter-spacing: 10px;
      a
        border-bottom: none;
        &:hover
          color: $green-alt-hover-20

    p
      border-top: solid 1px $white-50;
      color: $white-75;
      text-shadow: 0 0 0.5px $white-3-16;
      font-size: 1em;
      text-transform: uppercase;
      letter-spacing: 3px;
      padding: 0;
      margin-top: 0.35em;
    .icons a
      color: $white-90;
      font-size: 2em;
      &:hover
        color: $green-70;

  footer
    position: absolute;
    bottom: 9em;
    margin: 0;
    width: 100%;
    &:after
      content: '';
      display: block;
      position: absolute;
      bottom: -9em;
      left: 50%;
      height: 9em;
      border-left: solid 1px $white;
    &:before
      content: '';
      display: block;
      width: 90px;
      height: 66px;
      position: absolute;
      left: 50%;
      bottom: -4.5em;
      margin-left: -45px;
      margin-bottom: -33px;
      background: url('../images/arrow.svg') no-repeat;
