ul.default,
ol.default
    padding-left: 2em;
    li
      padding-left: 0.65em;
      margin-top: 0.5em;
      &:first-child
        margin-top: 0;

ul.default
  list-style: disc;

ol.default
  list-style: decimal;

ul.icons
    cursor: default;
    li
      font-size: 2rem;
      display: inline-block;
    a
      display: inline-block;
      width: 2.5em;
      height: 2.5em;
      line-height: 2.5em;
      text-align: center;
      border: 0;

ul.menu
    cursor: default;
    li
      display: inline-block;
      line-height: 1em;
      border-left: solid 1px $grey;
      padding: 0 0 0 0.5em;
      margin: 0 0 0 0.5em;
      &:first-child
        border-left: 0;
        padding-left: 0;
        margin-left: 0;

ul.actions
    cursor: default;
    li
      display: inline-block;
      margin: 0 0 0 0.5em;
      &:first-child
        margin-left: 0;
