#page-header
  position: relative;
  color: #fff;
  // background-color: rgba(0,0,0,0.7);
  text-shadow: 0 0 0.5px $white-25;
  text-align: center;
  margin: 0;
  cursor: default;

  header
    display: inline-block;

    &:before
      content: '';
      display: block;
      margin: 4px 0 1em 0;
    h1
      border-top: solid 1px $white-50;
      font-weight: 600;
      font-size: 2em;
      letter-spacing: 10px;
      a
        border-bottom: none;
        &:hover
          color: $green-alt-hover-20;
    img
      max-width: 30%;
      border-radius: 50%;
      margin-bottom: 5%;
    p
      border-top: solid 1px $white-50;
      color: $white-75;
      text-shadow: 0 0 0.5px $white-3-16;
      font-size: 1em;
      text-transform: uppercase;
      letter-spacing: 3px;
      padding: 0;
      margin-top: 0.35em;
    .icons a
      color: $white-90;
      font-size: 0.7em;
      &:hover
        color: $green-alt-hover-90;