.table-wrapper
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;

table
  width: 100%;

table.default
  width: 100%;

table.default tbody tr
  border-top: solid 1px $light-grey;

table.default tbody tr:first-child
  border-top: 0;

table.default td
  padding: 0.75em 1.25em 0.75em 1.25em;

table.default th
  text-align: left;
  font-weight: 400;
  padding: 0.75em 1.25em 0.75em 1.25em;

table.default thead
  background: $white-smoke;